@import '../../styles.scss';

img {
    width: 100px;
    height: auto;
}

.box {
    width: 900px;
    max-width: 900px;
}

table {
    width: 100%;
}

.book-title {
    cursor: pointer;
    text-align: center;
    &:hover {
        //background-color: grey;
        opacity: 0.8;
        color: $color-material-primary;
        border-radius: 20px;
    }
}

.navi-buttons {
    left: 415px;
    margin: 5px;
}


.cdk-column-availability{
    padding-left: 20px;
}
  
.cover {
    width: 80%;
    height: auto;
    margin-top: 10px;
}

