.Update-btn {
    margin: 5px;
}

.Cancel-btn {
    margin: 5px;
}

.Update-btn,
.Cancel-btn {
    margin-top: 20px;
}

textarea {
    border: 1px solid black;
}

mat-form-field {
    display: block;
}
