@import './variables';


html, body {
     height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 

    background: url('../assets/images/wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
 
.login-wrapper {
    height: 300px;

    .example-form {
        max-width: 300px;
        width: 100%;
    }
    
    .form-field, .btn-block {
        width: 100%;
        margin-bottom: 10px;
    }

    mat-card-header {
        text-align: center;
        width: 100%;
        display: block;
        font-weight: 700;

        mat-card-title {
            font-family: 'Gentium Book Basic', serif;
            font-size: 40px;
            margin: 0;
            padding-bottom: 20px;
        }
    }

    .mat-card {
        padding: 40px 70px 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    
} 

.box {
    position: relative;
    top: 60px;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    background: lightgrey;
    border-radius: 30px;
    max-width: 330px;
    box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
}