@import '../../styles.scss';

.box {
    width: 900px;
    max-width: 900px;
}

table {
    width: 100%;
}

.navi-buttons {
    left: 583px;
    margin: 10px;
}
.table-buttons {
    margin-left: 15px;
}



