<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span id="name" routerLink="dashboard"><h1>Books Rent</h1></span>
        <img class="logo" src="./../assets//images/books-icon.png">
        <span class="spacer"></span>
        <button *ngIf="router.url !== '/' && router.url !== '/registration'" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu  #menu="matMenu">
            <button mat-menu-item (click)="logout()" routerLink="/">Logout</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>