<div class="login-wrapper">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Rented Books</mat-card-title>
        </mat-card-header>
        <!-- <mat-form-field>
            <mat-label>Search Rented Books</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field> -->
        <button mat-raised-button routerLink="/dashboard" class="back-to-dashboard" color="accent">Back to
            Dashboard</button>
        <table mat-table id="books" [dataSource]="rented$ | async">
            <div class="all-rentals-container">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let rented">
                        <h3 class="id"><strong>{{ rented.id }}.</strong></h3>
                    </td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell class="book-title" *matCellDef="let rented">
                        <h3><strong>{{ rented.title }}</strong></h3>
                    </td>
                </ng-container>
                <ng-container matColumnDef="rented-to-date">
                    <th mat-header-cell *matHeaderCellDef> Available after </th>
                    <td mat-cell class="book-title" *matCellDef="let rented">
                        <h3>{{ rented.rentedTo | date }} </h3>
                    </td>
                </ng-container>
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> User ID </th>
                    <td mat-cell class="user" *matCellDef="let rented">
                        <h3>{{ rented.userID }} </h3>
                    </td>
                </ng-container>
                <ng-container matColumnDef="returned-earlier">
                    <th mat-header-cell *matHeaderCellDef> Return </th>
                    <td mat-cell class="book-title" *matCellDef="let rented">
                        <button mat-mini-fab color="primary" (click)="openReturnedBookModal(rented)">
                            <mat-icon>restore</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </div>
        </table>


    </mat-card>
</div>