<div class="login-wrapper">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Edit book</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="fechedBook">
            <img src="{{ fechedBook.thumbnailUrl }}" onError="this.src='../../assets/images/no-image.png'"
                alt="cover_image">
            <h1>{{ fechedBook.title }}</h1>
            <p><strong>Author/s:</strong> {{ fechedBook.authors }}</p>
            <p><strong>Availability:</strong> {{ fechedBook.availability ? 'Available' : 'Rented'}}</p>
            <p *ngIf="fechedBook.shortDescription"><strong>Description:</strong> {{ fechedBook.shortDescription }}</p>
            <p><strong>Publish date:</strong> {{ fechedBook.publishDate | date }}</p>
            <button mat-raised-button color="primary" (click)="openEditModal()">Edit</button>
            <button mat-raised-button color="primary" (click)="openDeleteModal()">Delete</button>
            <button mat-raised-button color="accent" routerLink="../../">Cancel</button>
        </mat-card-content>
    </mat-card>
</div>