@import '../../styles.scss';


.login-wrapper {
    height: 200px;

    .example-form {
        max-width: 350px;
        width: 100%;
    }
    
    .form-field, .btn-block {
        width: 100%;
        margin-bottom: 10px;
    }

    mat-card-header {
        text-align: center;
        width: 100%;
        display: block;
        font-weight: 700;

        mat-card-title {
            font-size: 30px;
            margin: 0;
            padding-bottom: 20px;
        }
    }

    mat-card-content {
        text-align: center;

        p {
            text-align: left;
        }
    }

    .mat-card {
        padding: 40px 70px 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    
} 

.box {
    position: relative;
    top: 60px;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    background: lightgrey;
    border-radius: 30px;
    max-width: 400x;
    box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
}

button {
    margin: 10px;
}

